html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: center;
}
iframe{
    width:70%; 
    height:500px;
}
nav{
    width: 100vw;
    height: 100vh;
    background-color: #ff9c41;
    color: white;
    text-align: center;
    transition: 0.4s;
    transform: translateX(-100%);
    position: fixed;
    z-index: 3;
}
nav>h1{
    font-size: 250%;
}
nav a{
    color: white;
}
.container{
    display: grid;
    grid-template-areas: 
    "1"
    "2";
    margin-top: 10vh;
}
.menu{
    position: fixed;
    top: 0;
    padding: 4px;
    margin: 10px;
    cursor: pointer;
    z-index: 4;
}
.menu>div{
    background: black;
    height: 6px;
    width: 30px;
    margin: 6px;
    border-radius: 6px;
}
.test{
    align-self: center;
}
.repas{
    display: flex;
    justify-content: center;
}
.repas>img{
    width: 60%;
    border-radius: 50%;
}
.bulles{
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
}
.bulles>img{
    width: 25%;
    border-radius: 50%;
}
.titre>h1{
    text-align: center;
}
footer{
    background-color: #ff9c41;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}
footer #perso {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer #credit{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 40px;
    color: white;
    margin-left: 0px;
    text-align: center;
}
#credit>p>a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#credit>p{
    font-size: 14px;
    color: white;
}
footer{
    background-color: #ff9c41;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.ouvert{
    transform: translateX(0);
    margin-top: 0vh;
}
.zonehaut{
    margin-top: 0;
}
.conseil>li{
    margin-bottom: 5%;
}
.ouvertplus{
    transform: translate(0,-10%);
}
.ouvertmoins{
    transform: translate(0,-8%);
}


